
.input-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc; 
  }

  .input-container input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
  }
  
 
  .ql-editor {
    min-height: 300px; 
  }
  .subject{
    margin-top: 7px;
  }
  .mail{
    max-height: 80px;
  }